APP_NAME=OvoWpp
APP_ENV=production

APP_KEY=
APP_DEBUG=false
APP_URL=

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=
DB_USERNAME=
DB_PASSWORD=

PURCHASE_CODE=
ENVATO_USERNAME=

TRUSTED_PROXIES=
